body{
  background-image:url(img1.jpg);
}
th{
 background-color:red;
}
table{
  font-size: 20px;
  font-style: italic;
}
p{
  font-size: 20px;
}
p:nth-child(odd)
{
  background-color: white;

}
a:link{
 text-decoration:none;
 font-size: 20px;
 font-style: italic;
}
